@charset "UTF-8";
sign-up-form{
	height:100vh;
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
}
table {
	margin: 50px 0 100px 0;
	padding: 30px 0;
}
table td {
	padding: 10px;
}
table th {
	font-size:20px;
	padding: 40px 0;
}
.phone {
	width: 50px;
}
.Btn {
	border:1px solid #000;
	padding:2px 6px;
}
.Btn:hover{
	cursor:pointer;
}
