@charset "UTF-8";
*{margin:0; padding:0; box-sizing:none;}
a{text-decoration:none;}
li{list-style:none;}
#wrap{
	width:100%;
}
.inner{
	max-width:1200px;
	margin:0 auto;
}
#banner img{
	height:520px;
}
.text{
	display:flex;
	margin-top:30px;
	justify-content:space-between;
	align-items:center;
}
span{font-size:14px;}
#product1{
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:100%;
	height:360px;
	margin-top:20px;
	padding:10px 0;
	background:#eee;
}

.newest_items{
	width:200px;
	height:330px;
}