@charset "UTF-8";
*{margin:0; padding:0; box-sizing:none;}
a{text-decoration:none}
li{list-style:none}
#wrap{
	width:100%;
}
.non-cursor{
	cursor: default;
}
.inner{
	max-width:1200px;
	margin:0 auto;
}
#banner img{
	height:520px;
}
.text{
	display:flex;
	margin-top:30px;
	justify-content:space-between;
	align-items:center;
}
span{font-size:14px;}
#product1{
	display:flex;
	align-items:center;
	justify-content:space-around;
	width:100%;
	height:330px;
	margin-top:20px;
	padding:10px 0;
	background:#eee;
}

.newest_items{
	width:200px;
	height:300px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.name{
	font-size:15px;
	font-weight:bold;
	margin:5px 0;
}
.price{
	padding:3px 0;
	color:red;
	font-size:14px;
	font-weight:bold;
}
.size{
	text-align:center;
	display:inline-block;
	width:180px;
	height:30px;
	border:1px solid #ccc;
	margin-top:5px;
}
strong{
	line-height:30px;
	color:gray;
}