@charset "UTF-8";
.list>table a{
	text-decoration-line:underline;
}
#btm_section{
	display:flex;
	flex-direction:row-reverse;
	justify-content:center;
	align-items:center;
	padding:15px 0;
}
#btm_section>input{
	margin: 0 30px;
}
#btm_section>button:first-child{
	text-align:right;
	padding:5px 10px;
	
}
.ad-tb{
	border-collapse:collapse;
	text-align:center;
	width:80%;
}
.ad-tb tr:nth-child(1) td{
	padding: 20px 0;
}
.pd-empty{
	padding:100px;
}
.list{
	margin: 0 auto;
}
.list>h2{
	text-align:center;
	padding:30px 0;
}
.list table{
	margin:0 auto;
}
.list table td{
	padding:3px;
	border-top:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
}
.prdList{
	display:flex;
	flex-wrap:wrap;
	margin-bottom:10px;
}
#paging{
	text-align:center;
	margin-bottom:30px;
}
#productInfo{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:60px 0;
}
#productInfo>div{
	margin: 0 30px;
}
#productInfo>div:nth-child(2){
	border-top:1px solid black;
}
#detailArea{
	padding:5px;
	border:none;
	resize: none;
	outline: none;
	cursor: default;
	display:block;
}
#pdetail{
	padding:5px;
	resize: none;
	display:block;
}
#productInfo>div:nth-child(2) h2{
	padding:30px 0;
	border-bottom:1px solid #ccc;
}
#productInfo>div:nth-child(2)>p{
	display:block;
	margin-top:15px;
	font-size:15px;
	width:300px;
}
.product-etc{
	font-weight:bold;
}
#productInfo>div p:first-child{
	border-top:1px solid #ccc;
}
#pimage{
	width:550px;
	height:550px;
	border:1px solid #ccc;
}
#pimage img{
	width:100%;
	height:100%;
}
#editbtn{
	display:block;
	padding:5px 10px;
	margin: 5px 0;
	float:right;
}
.records{
	display:inline-block;
	width:290px;
	height:500px;
	padding:0 5px;
}
.records>a{
	width:100%;
}
#list_title{
	border-bottom:1px solid #ccc;
	margin-bottom: 80px;
}
.pdt_btn{
	width:100%;
	height: 60px;
	margin:20px 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.pdt_btn a{
	width:47%;
	height:100%;
	background:#94b4a4;
	color:#fff;
	line-height:60px;
	text-align:center;
}
.pdt_btn a:first-child:hover{
	color:black;
	transition:0.4s;
}
.pdt_btn a:last-child{
	background:#fff;
	color:black;
	border:1px solid #ccc;
}
.pdt_btn a:last-child:hover{
	border:1px solid #000;
	transition:0.4s;
}
#detailView{
	border-top:1px solid #ccc;
	padding: 50px 0;
	text-align:center;
}
.base-button{
	display:flex;
	align-items:center;
	margin: 6px 10px;
}
#deleteBtn{
	font-size:14px;
	padding:4px 10px;
	background:#ccc;
	color:#fff;
	margin:5px 10px;
}
#deleteBtn:hover{
	transition:0.3s;
	background:#fff;
	color:#000;
	border:1px solid #bbb;
}