@charset "UTF-8";
.list>table a{
	text-decoration-line:underline;
}
#btm_section{
	display:flex;
	flex-direction:row-reverse;
	justify-content:center;
	align-items:center;
	padding:15px 0;
}
#btm_section>input{
	margin: 0 30px;
}
.list{
	margin: 0 auto;
}
.list>h2{
	text-align:center;
	padding:30px 0;
}
.list table{
	margin:0 auto;
}
.list table td{
	padding:5px 10px;
}
#paging{
	text-align:center;
	margin-bottom:30px;
}
#productInfo{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:60px 0;
}
#productInfo>div{
	margin: 0 30px;
}
#productInfo>div:nth-child(2){
	border-top:1px solid black;
	border-bottom:1px solid #ccc;
}
#detailArea{
	padding:5px;
	border:none;
	resize: none;
	outline: none;
	cursor: default;
}
#productInfo>div:nth-child(2) h2{
	padding:30px 0;
}
#productInfo>div:nth-child(2) p{
	display:block;
	padding: 5px 0;
}
#productInfo>div p:first-child{
	border-top:1px solid #ccc;
}
#pimage{
	width:450px;
	height:450px;
	border:1px solid #ccc;
	padding:20px;
}
#pimage img{
	width:100%;
	height:100%;
}
#editbtn{
	position:absolute;
	bottom:10px;
	right:100px;
	padding:5px;
}
.prdList{
	
}
.records{
	display:inline-block;
	width:20%;
	height:400px;
	margin:0 20px;
}