@charset "UTF-8";

table{
	margin:0 auto;
	width:800px;
}
table:first-child{
	margin-bottom:30px;
}
.inner>table:nth-child(2){
	border-top:1px solid #ccc;
}
form>table textarea{
	width:750px;
	height:60px;
	resize:none;
}
table td{
	padding:10px 0;
}
#qnaContent{
	height:300px;
	vertical-align:top;
}